html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  background: $main-bg-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

a,
a:visited,
a:link {
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  transform: scale(0);
}
