:root {
    font-size: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $primary-text-color;
}

a, a:visited, a:link {
    // color: currentColor;
    text-decoration: none;
}