@import '../../../sass/utils/functions';
@import '../../../sass/utils/variables';
@import '../../../sass/components/logo';

.side-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: rem(300px);
    background-color: $light-bg-color;
    color: $text-on-light-bg;
    height: 100vh;
    z-index: 1000;

    &__logo {
        @include logo-container;
    }

    &__logo-image {
        @include logo-image;
    }

    &__logo-text {
        @include logo-text;
    }

    &__header {
        background: linear-gradient(90deg, $accent-color-success, $primary-color);
        height: rem(250px);
        color: $primary-text-color;
        box-shadow: rem(-5px) rem(5px) rem(34px) rem(-16px) rgba(0,0,0,0.75);
    }

    &__author {
        display: grid;
        grid-template: 
            'author-avatar author-name'
            'author-avatar author-email'
        ;
        margin-top: rem($spacing-big);
    }

    &__author-avatar {
        width: rem(50px);
        grid-area: author-avatar;
        justify-self: center;
    }

    &__author-name {
        grid-area: author-name;
        font-weight: 600;
        font-size: 1.2rem;
    }

    &__author-email {
        grid-area: author-email;
        font-size: 0.9rem;
    }

    &__heading {
        height: rem(64px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px rem($spacing-medium);
    }
    
    &__heading-text {
        font-size: 1.3rem;
    }
    
    &__item {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        padding: $spacing-small;
        cursor: pointer;
        color: $primary-text-color-darker;
        column-gap: 10px;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: darken($light-bg-color, 15%);
        }

        &:hover .side-menu__icon {
            color: $accent-color;
        }
    }

    &__icon {
        justify-self: center;
        transition: color .2s ease-in-out;
    }

    &__text {
        font-size: 1.2rem;
        font-weight: 500;
    }
}