<div class="weather-details" *ngIf="forecast ">

    <div class="weather-details__header" *ngIf="currentWeather">

        <div class="weather-details__bg-wrapper"></div>

        <div class="weather-details__content-wrapper">

            <div class="weather-details__icon">
    
                <img src="../../../assets/icons/weather-icons/{{ formatIconName(currentWeather.weather.icon) }}" alt="słońce">
        
            </div>
        
            <div class="weather-details__stats">
    
                <div class="weather-details__temp">{{ currentWeather.main.temp }}&deg;</div>
                
                <div class="weather-details__description">
                    {{ currentWeather.weather.description }}
                </div>
    
            </div>
            
            <div class="weather-details__city-name">
                {{ forecast.city.name }}
            </div>
    
        </div>

    </div>

    <div class="weather-details__body">

        <div class="weather-details__hourly-forecast" *ngFor="let day of forecast.days | keyvalue">

            <h2 class="weather-details__day">{{ day.key | date:'EEEE':'':'pl' }}</h2>

            <swiper [config]="sliderConfig" @slideInEntranceParent>

                <small-weather-card @slideInEntranceChild *ngFor="let period of day.value" [period]="period"></small-weather-card>
    
            </swiper>

        </div>

    </div>

</div>