<div class="settings">

    <div class="settings__side-panel">

        <a class="settings__group" routerLink="app" routerLinkActive="settings__group--active">

            <div class="settings__icon">
                <fa-icon [icon]="faCogs" size="2x"></fa-icon>
            </div>

            <h3 class="settings__name">Ustawienia aplikacji</h3>

        </a>

        <a class="settings__group" routerLink="account" routerLinkActive="settings__group--active">

            <div class="settings__icon">
                <fa-icon [icon]="faUsersCog" size="2x"></fa-icon>
            </div>

            <h3 class="settings__name">Ustawienia konta</h3>

        </a>

        <a class="settings__group" routerLink="saved-cities" routerLinkActive="settings__group--active">

            <div class="settings__icon">
                <fa-icon [icon]="faCity" size="2x"></fa-icon>
            </div>

            <h3 class="settings__name">Zapisane miasta</h3>

        </a>

    </div>

    <div class="settings__properties">
        <router-outlet></router-outlet>
    </div>

</div>