@import '../../../sass/utils/variables';
@import '../../../sass/utils/functions';
@import '../../../sass/components/card';
@import '../../../sass/utils/variables';

.weather-card {
    @include card;

    &__current-temp {
        font-size: 5rem;
    }

    &__subtitle {
        margin: rem($spacing-medium) 0px;
        font-size: 1.1rem;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__actions {
        margin-top: $spacing-small;
        font-size: 2rem;
        text-align: right;
    }

    &__total-temperatures {
        display: flex;
        justify-content: space-between;
    }

    &__temp {
        font-size: 1.8rem;
        color: $primary-text-color;
    }

    &__max-temp {
        color: $accent-color-success;
    }

    &__min-temp {
        color: $accent-color-danger;
    }
}
