@import '../../../sass/utils/functions';
@import '../../../sass/utils/variables';
@import '../../../sass/components/light-bg';

.login {
    @include light-bg;
    width: 70vw;
    padding: $spacing-small;

    &__heading {
        text-align: center;
        margin-bottom: $spacing-medium;
    }

    &__action {
        
        &:not(:last-child) {
            margin-right: $spacing-small;
        }
    }
}

@media (max-device-width: 425px), (max-width: 425px) {

    .login {
        width: 100vw;
    }

}