<div class="login">

    <h1 class="login__heading">Zaloguj się</h1>

    <form #loginForm="ngForm" class="login__form" (ngSubmit)="onSubmit(); loginForm.reset()">

        <div class="form-group">
            <input 
                name="email" 
                type="email" 
                class="input" 
                placeholder="Podaj email..." 
                #email="ngModel"
                email
                [(ngModel)]="user.email" required>

            <p class="hint hint--error" *ngIf="email.touched && email.hasError('required')">To pole nie powinno być puste.</p>
            <p class="hint hint--error" *ngIf="email.touched && email.hasError('email')">Podaj prawidłowy adres email.</p>
        </div>

        <div class="form-group">
            <input 
                name="password" 
                type="password" 
                class="input" 
                placeholder="Podaj haslo..." 
                #password="ngModel"
                [(ngModel)]="user.password" required>
            <p class="hint hint--error" *ngIf="password.touched && password.hasError('required')">To pole nie powinno być puste.</p>
        </div>

        <div class="form-group" *ngIf="error">
            Niepoprawny email lub hasło.
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn--accent login__action" [disabled]="loginForm.invalid">Zaloguj się</button>
            <button type="reset" class="btn btn--danger login__action">Wyczyść</button>
        </div>
        
    </form>


</div>