@import '../../../sass/utils/functions';
@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';
@import '../../../sass/components/light-bg';

.login {
    @include light-bg;
    width: 70vw;
    padding: $spacing-small;

    &__heading {
        text-align: center;
        margin-bottom: $spacing-medium;
    }

    &__action {
        
        &:not(:last-child) {
            margin-right: $spacing-small;
        }
    }

    @include respondTo('mobile-l') {
        width: 100vw;
    }
}