<div class="select">

    <!-- Select is for screen readers. -->
    <select 
        class="select__placeholder" 
        style="transform: scale(0);" 
        #select 
        [value]="options[currentOptionIndex]?.value" 
        (input)="selectOption($event.target.value)">
        
        <option *ngFor="let option of options" [value]="option?.value">{{ option?.name }}</option>
    </select>

    <div 
        class="select__option select__option--current" 
        *ngIf="options.length > 0; else noOptions"
        (click)="toggleSelect()" 
        [ngClass]="{'select__option--expanded': isExpanded}">
        <span>{{ options[currentOptionIndex].name }}</span>

        <span class="select__arrow" [ngClass]="{'select__arrow--expanded': isExpanded}">
            <fa-icon [icon]="faArrowDown"></fa-icon>
        </span>

    </div>

    <ng-template #noOptions>
        <div class="select__option select__option--current select__option--placeholder">Brak opcji</div>
    </ng-template>

    <div 
        class="select__options" 
        *ngIf="isExpanded"
        @expand>

        <ng-scrollbar class="select__scrollbar">
            <div 
                class="select__option" 
                *ngFor="let option of options"
                (click)="broadcastChange(option.value)">{{ option.name }}</div>
        </ng-scrollbar>

    </div>

</div>