@import '../../../sass/utils/functions';
@import '../../../sass/utils/variables';

.day-preview {
    width: rem(200px);
    text-align: center;
    display: grid;
    row-gap: rem($spacing-small);

    &__title {
        color: $primary-text-color-darker;
        font-weight: 700;
    }

    &__temp {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: $spacing-small;
    }

    &__weather {
        color: $secondary-color;
    }

    &__description {
        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__icon {
        width: rem(70px);
        margin: 0px auto;
    }
}