@import '../../../sass/utils/variables';
@import '../../../sass/utils/functions';

.swiper-slide {
    width: rem(300px) !important;
    height: auto !important;
}

.container {
    margin-top: rem($spacing-big);
}

.loader-container {
    width: 100vw;
    height: calc(100vh - #{$header-height + $spacing-big});
}

@media only screen and (max-device-width: 1024px) {

    .swiper-slide {
        
        &:first-child {
            margin-left: rem($spacing-medium);
        }
    }

    .container {
        margin-top: rem($spacing-small);
    }

}

.clue {
    // background-color: red;
    padding: rem($spacing-small);
    display: grid;
    place-content: center;

    &--fixed {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    &__image {
        width: rem(250px);
        margin: 0px auto;
    }

    &__description {
        margin-top: rem($spacing-small);
        text-align: center;
    }
}

@media (max-device-width: 768px), (max-width: 768px){
    .clue {
        &__image {
            width: rem(150px);
        }
    }
}