@import '../../../sass/utils/variables';
@import '../../../sass/utils/functions';

.swiper-slide {
    width: rem(300px) !important;
    height: auto !important;
}

.container {
    margin-top: rem($spacing-big);
}

.loader-container {
    width: 100vw;
    height: calc(100vh - #{$header-height + $spacing-big});
}

@media only screen and (max-device-width: 1024px) {

    .swiper-slide {
        
        &:first-child {
            margin-left: rem($spacing-medium);
        }
    }

}

@media only screen and (max-device-width: 1024px) {

    .container {
        margin-top: rem($spacing-small);
    }

}