@import '../../../sass/utils/variables';
@import '../../../sass/utils/functions';
@import '../../../sass/utils/mixins';

.swiper-slide {
    width: rem(300px) !important;
    height: auto !important;

    @include respondTo('laptop') {
        &:first-child {
            margin-left: rem($spacing-medium);
        }
    }
}

.container {
    margin-top: rem($spacing-big);

    @include respondTo('laptop') {
        margin-top: rem($spacing-small);
    }
}

.loader-container {
    width: 100vw;
    height: calc(100vh - #{$header-height + $spacing-big});
}

.clue {
    // background-color: red;
    padding: rem($spacing-small);
    display: grid;
    place-content: center;

    &--fixed {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    &__image {
        width: rem(250px);
        margin: 0px auto;
    }

    &__description {
        margin-top: rem($spacing-small);
        text-align: center;
    }

    @include respondTo('tablet') {
        &__image {
            width: rem(150px);
        }
    }
}