.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: $radius-small;
  padding: 10px 20px;
  font-size: 1.1rem;

  &--accent {
    @include btn-accent-theme($accent-color);
  }

  &--danger {
    @include btn-accent-theme($accent-color-danger);
  }

  &--icon {
    font-size: 1rem;
    padding: 0px;
    color: currentColor;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
