.btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFF;
    border-radius: $radius-small;
    padding: 5px 10px;

    &--accent {
        @include btn-accent-theme($accent-color);
    }

    &--block {
        display: block;
        width: 100%;
    }
}