

.input {
    @include input-state-theme;
    border-radius: rem($radius-small);
    padding: rem(10px);
    font-size: 1.2rem;
    width: 100%;
    border: none;
    outline: none;

    &.ng-invalid.ng-touched {
        @include input-state-theme($accent-color-danger);
    }

    &.ng-valid.ng-touched {
        @include input-state-theme($accent-color-success);
    }

    &--block {
        display: block;
        width: 100%;
    }
}