<header class="header">

    <div class="header__section">

        <div class="header__item header__menu">

            <button class="btn" (click)="openMenu()"><fa-icon [icon]="faBars" size="2x"></fa-icon></button>

        </div>

        <a class="header__item header__logo" [routerLink]="['/']">
            
            <img src="../../../assets/logo.png" alt="logo" class="header__logo-image">

            <span class="header__logo-text">Weather</span>

        </a>

    </div>

    <div class="header__section" #title>
        
    </div>

</header>