<header class="header">

    <div class="header__section">

        <div class="header__item header__menu">

            <button class="btn btn--icon" (click)="openMenu()"><fa-icon [icon]="faBars" size="2x"></fa-icon></button>

        </div>

        <a class="header__item header__logo" [routerLink]="['/']">
            
            <img src="../../../assets/logo.png" alt="logo" class="header__logo-image">

            <span class="header__logo-text">Weather</span>

        </a>

    </div>

    <div class="header__section" #title>
        
    </div>

    <div class="header__section">

        <a class="header__item" routerLink="/login" *ngIf="!isLoggedIn">
            <fa-icon [icon]="faSignInAlt" size="lg"></fa-icon>
        </a>

        <button class="btn btn--icon header__item" *ngIf="isLoggedIn" (click)="logout()">
            <fa-icon [icon]="faSignOutAlt" size="lg"></fa-icon>
        </button>
        
        <a class="header__item" routerLink="/user-settings">
            <fa-icon [icon]="faCog" size="lg"></fa-icon>
        </a>

    </div>

</header>